.button {
	display: block;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 2px;
	margin-right: 2px;
	width: 20px;
	height: 30px;
	border: 2px grey solid;
	background: #555555;
	border-radius: 10px; 
	cursor: pointer;
	text-align: center;
	font-family: garamond, sans-serif;
	font-weight: bold;
	color: white;
	float: left;
}

.row {
	margin: 0 auto;
	height: 50px;
	width: 300px;
}

.operator {
	background: #EEEEEE;
	color: black;
}

.zero-button {
	width: 114px;
}

.footer-button {
	width: 42px;
	background: #EEEEEE;
	color: black;
}
